<html>
<head>
  <meta charset="utf-8">
  <title>犬検索</title>
</head>
<body>
  <% @options.each do |opt| %>
    <%=h opt[:value] %>
    <%=h opt[:label] %>
  <% end %>
  <div id="search">
    <form action="." method="post">
      <input type="submit" name="keyword" value="検索">
    </form>
  </div>
  
  <% unless @result.nil? %>
    <div id="result">

    </div>
  <% end %>

</body>
</html>
